* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #d1d3d5;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-table {
    color: #313131;
    background-color: white;
    max-width: 1200px;
    width: 100%;
    padding: 45px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 2px 40px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 2px 40px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 2px 40px -12px rgba(0, 0, 0, 0.18);
}

.modal {
    z-index: 999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(4, 4, 4, 0.592);
    transition: opacity .25s ease;
}

.modal__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 450px;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    height: 350px;
    
     
}


.modal__inner div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

}

.modal__inner div button{
    background: none;
    height: 38px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.container_info img, .container a img, .modal__inner div button img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #2BC48A;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

form, .container_info {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 25px;
}

.container_info {
    width: 100%;
    height: 70px;
    background-color: #ebecea;
    padding: 20px;
    border-radius: 15px;
    font-weight: 600;
    -webkit-box-shadow: 1px 2px 40px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 2px 40px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 2px 40px -12px rgba(0, 0, 0, 0.18);
}


.container_info div {
    display: flex;
    gap: 12px;
}

span {
    display: flex;
    align-items: center;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    padding: 20px 10px;
    width: 200px;
    background-color: #2BC48A;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}

label {
    padding: 20px 10px;
    width: 200px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

.table {
    display: flex;
    justify-content: center;
    overflow: auto;
    max-height: 620px;
    padding-right: 22px;
    margin-left: 22px;
}

table {
    padding: 5px;
    border-collapse: collapse;
}

table th {
    padding: 5px;
    background: rgba(254, 254, 255, 0.502);
}

table td {
    border: solid 2px #bdbfc1;
    text-align: Centro;
    border-collapse: collapse;
    padding: 10px 10px;
}

tr:nth-child(even) {
    background: #d1d3d5;
}

.sucess, .error{
    border-bottom: #313131 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    color: rgb(0, 0, 0);
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 25px;
}

.info > img{
    margin-top: 30px;
    width: 50px;
    height: 50px;
}
.error > img, .sucess > img{
    margin: 5px;
    width: 20px;
    height: 20px;
}